/* No CSS */
.boxx {
  background-color: #111111;
  padding: 20px;
  font-family: graphik;
  border-radius: 25px;
  width: 52%;
}
@media (max-width: 768px) {
  .boxx {
    background-color: #111111;
    padding: 20px;
    font-family: graphik;
    border-radius: 25px;
    width: 70%;
  }
}
.sup {
  color: #848484;
  margin-bottom: 8px;
}
.rightb {
  color: #848484;
}
