.eimg1 {
  background-image: url("../blogimages/Frame\ 44.png");
  height: 200px;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
.eimg2 {
  background-image: url("../blogimages/Frame\ 44.png");
  height: 200px;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
.eimg3 {
  background-image: url("../blogimages/Frame\ 46.png");
  height: 200px;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
.eimg4 {
  background-image: url("../blogimages/Frame\ 472.png");
  height: 200px;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
.eimg5 {
  background-image: url("../blogimages/Frame\ 47.png");
  height: 200px;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
.eimg6 {
  background-image: url("../blogimages/Frame\ 45.png");
  height: 200px;
  box-sizing: border-box;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}

.card {
  width: 400px;
}
