@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: graphikthin;
  src: url(./GraphikThin.otf);
}
@font-face {
  font-family: graphik;
  src: url(./graphik.otf);
}
